body {
  margin: 0;
  font-family: "Rozha One", serif;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.noTextOrnamentation {
  text-decoration: none;
  color: #101010;
  font-style: italic;
}

.MainPageBufferSpace {
  padding-top: 60px;
}
